<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Gestión de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="admin-panel">
    <!-- Gestión de Usuarios -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Correos Registrados</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <!-- Mostrar lista de correos electrónicos -->
          <ion-item *ngFor="let email of emails">
            <ion-label>{{ email }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>